@import "tailwindcss";

@theme {
  --color-sentury-green: #1F4B43;
  --color-sentury-cream: #F9F6F0;
  --color-sentury-peach: #FBDCBF;
  --color-sentury-blue: #D2E3E8;
  --color-sentury-offwhite: #FDFDFD;

  --radius-default: 0.75rem;
  --radius-lg: 1rem;
}